@media (max-width:1600px) {
    .right-donate {
        width: 14%;
    }
    .our-mis-icon-one {
        width: 13%;
    }
    .our-mis-icon {
        width: 13%;
    }
}
@media (max-width:1441px) {
   
   
    .count-info h3 span {
        font-size: 62px;
    }
    .right-donate {
        width: 17%;
    }
    .our-mis-icon-one {
        width: 15%;
    }
    .our-mis-icon {
        width: 15%;
    }
    .section-heading h1 {
        margin-bottom: 15px;
    }
    
}
@media (max-width:1367px) {
    .nav-center .nav-item .nav-link {
        padding: 35px 15px !important;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        top: 76%;
    }
}
@media (max-width:1281px) {
    .left-huusa::after {
        background-size: 85%;
    }
    .our-mis-icon-one {
        width: 16%;
    }
    .our-mis-icon {
        width: 16%;
    }
}
@media (max-width:1200px) {
    .profile-stats .left-huusa::after {
        background-size: 64%;
        left: -10px;
    }
    .count-info h3 {
        width: 118%;
    }
    .perc-sign {
        right: 4px;
    }
    .btn-right-head a {
        padding: 5px 7px;
        border: 1px solid;
        font-size: 14px;
    }
}
@media(max-width:1024px){
    .profile-stats .left-huusa::after {
        left: -10px;
    }
    section.usa-husfus.profile-stats {
        padding: 81px 0 160px;
    }
    
}
@media (max-width:993px) {
   
    .right-donate {
        width: 15%;
    }
    .count-info h3 {
        width: 108%;
    }
    .board-box {
        width: 91%;
    }
    .contri-box:before {
        left: 0;
    }
    .count-info h3 {
        width: 118%;
    }
    .nav-center .nav-item .nav-link {
        padding: 35px 12px !important;
    }
    .coomon-responsove-impact-slider button {
        background-color: #bf1e2d !important;
        width: 25px;
        border-radius: 0 !important;
    }
    
    .coomon-responsove-impact-slider button i {
        color: #fff;
    }
    .community-slider button {
        background-color: #bf1e2d !important;
        width: 25px;
        border-radius: 0 !important;
    }
    
    .community-slider button i {
        color: #fff;
    }
    .main-logo{
        display: none;
    }
    .main-res-logo{
        display: block;
        width: 50px;
    }
    .our-mis-icon {
       display: none;
    }
    .our-mis-icon-one{
        display: none;
    }
}

@media  (max-width:815px) {
    .nav-center {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .mobile-dropdown{
        display: block;
    }
    .count-info h3 {
        width: 95%;
    }
    .contri-box {
        margin-bottom: 45px;
        padding-left: 28px;
    }
    
    .other-ways-area .row .col-lg-4:nth-child(2) .contri-box li span:first-child {
        width: 31%;
    }
    .main-header .right-donate {
        display: none;
    }
    .float-responsive{
        display: none;
    }
    .float-responsive .dona-float {
        position: fixed;
        bottom: 20px;
        right: 13px;
        z-index: 999;
    }
    
    .left-huusa::after{
        display: none;
    }
    section.usa-husfus.profile-stats {
        padding: 61px 0 40px;
    }
    .contribute-box {
        margin-bottom: 15px;
    }
    .nav-center .nav-item .nav-link {
        padding: 7px 15px !important;
    }
    .contri-box:before {
        top: -43px;
        font-size: 85px;
    }
    .nav-center .nav-item .nav-link {
        padding: 35px 11px !important;
    }
    .perc-sign {
        right: -15px;
    }
    
}
@media  (max-width:768px) {
    .desck-giv{
        display: none;
    }
    .res-giv{
        display: block !important;
    }
    h1 {
        font-size: 32px !important;
    }
    .mision-heading {
        font-size: 32px !important;
    }
    div#navbarSupportedContent {
        position: absolute;
        width: 100%;
        left: 0;
        background: #fff;
        top: 114%;
        border: 1px solid #cccccc8a;
        z-index: 9;
    }
    .nav-center .nav-item {
        text-align: center;
        border-bottom: 1px solid #cccccc7d;
    }
    .nav-center .nav-item .nav-link {
        padding: 10px 25px !important;
    }
    .left-huusa::after {
        background-size: 100%;
    }
    .hu-resource .light-box p {
        height: 97px;
        font-size: 13px;
    }
    .sub-menu {
        left: 0;
        top: 100%;
        width: 100%;
    }
    .dropdown-menu .dropdown-item {
        font-size: 12px;
    }
    .perc-sign {
        right: -17px;
    }
}

@media (max-width:576px) {
    .count-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hu-resource .light-box p {
        height: auto;
    }
    .count-info h3 {
        width: 42%;
    }
    .footer-menu {
        flex-wrap: wrap;
    }
    .left-huusa::after{
        display: none;
    }
    h1 {
        font-size: 23px !important;
    }
    .mision-heading{
        font-size: 23px !important;
    }
    .section-heading h1 {
        margin-bottom: 23px;
    }
    .perc-sign {
        right: -35px;
    }
    .perc-sign {
        right: -15px;
    }
    .mobile-dropdown .dropdown:hover .dropdown-menu {
        width: 182px;
        left: -67px;
    }
}
@media (max-width:414px) {
    .mobile-dropdown {
        width: 114px;
    }
    .mobile-dropdown button {
        padding: 4px 12px !important;
        font-size: 14px;
    }
    .count-info h3 {
        width: 53%;
    }
    ul.contac-det li a {
        font-size: 12px;
    }
    ul.contac-det li:nth-child(2) {
        padding: 0 10px;
    }
    .news-letter-area > h5 {
        font-size: 18px;
    }
    .form-news {
        display: flex;
        width: 100%;
    }
    .form-news button {
        font-size: 12px;
    }
    .hul-foot-cont img.footerlogo {
        width: 100%;
    }
    .right-donate {
        margin: 10px auto !important;
    }
    .board-box {
        width: 100%;
    }
    .other-ways-area .row .col-lg-4:nth-child(2) .contri-box li span:first-child {
        width: 41%;
    }
}
@media (max-width:376px) {
    .perc-sign {
        right: -33px;
    }
    
}
@media (max-width:360px) {
    .right-donate {
        margin: 16px 0 !important;
    }
}
@media (max-width:321px) {
   
}