﻿@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* Body */
body {
	font-family:'Roboto', sans-serif;;
	background-color: #FFFFFF;
	margin: 0;
}
p {font-size: 15px;}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

.container2 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/header.jpg"); background-repeat: no-repeat; background-size:contain; min-height:280px; background-position:top center;}
.houston_footer {background-image:url(../images/houston_footer.jpg); background-repeat:no-repeat; background-size:contain; background-position:bottom center; padding-bottom: 79px;}

.reg_btn {padding-top:30px; display:block;}

.container2after {
		background-image: url(../images/heading_bar.jpg);
	background-repeat: no-repeat; background-size: contain; background-position: bottom; display: block; height: 10px;
}


/* Header */
header {
	width: 100%;
	height: 270px;
    border-bottom: 0px solid #353635;
	text-align: center
}
.column.full_width h3 {
    font-size: 25px;
    color: #5c2568;
}
.logo {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.hero_header {
    color: #5d2568 !important;
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
	font-size: 20px !important;
	font-weight: 400;
}
/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 22px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 15px;
	background-color: #F8F8F8;
	padding-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 0px;
	border-bottom: 4px solid #f1bf46;
	 min-height: 245px;
    height: auto;
}

.thumbnail:hover {border-bottom: 4px solid #5c2568}


.address_icn {
	background-image: url(../images/mail.png); 
	background-repeat: no-repeat; 
	background-position: center; 
	padding: 8px;
	background-size: contain; 
	margin-right:3px;}

.phone_icn{
	background-image:url(../images/phone.png); 
	background-repeat: no-repeat; 
	background-position: center;  
	padding: 8px; 
	background-size: contain; 
	margin-right:3px;}

.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #5c2568;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
}
/* More info */
.intro {
/*	background-color: #FFFFFF;
*/	padding-bottom: 15px;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 10px;
	float: left;
	/*border-bottom: solid 2px #5c2568;*/
/*	background-image: url(../images/heading_bar.jpg);
	background-repeat: no-repeat; background-size: contain; background-position: bottom; */
}

.column_footer { background-image: none; color: #1b1b1b;}

.full_width {width: 100% !important;}
.intro .column h3 {
	color: #fff;
	text-shadow: 3px 3px 6px #666;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.40); 
	width: 75%; padding: 5px;
	font-size: 24px; margin: 0 auto;
}
.intro .column p {
	color: #1b1b1b;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 220px;
/*	opacity: 0.8;
*/}
.intro .column p {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	line-height: 18px;
	font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	margin-top: 0.5%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.40);
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	color: #5c2568;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.copyright p{font-size: 13px; text-transform:none; padding: 10px; letter-spacing: 1px; color: #1b1b1b; padding: 0px;}
footer {
	background-color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20PX;
    overflow: hidden;
	background-image: url(../images/heading_bar.jpg);
	background-repeat: no-repeat; background-size: contain; background-position: bottom; 
}
.intro {
	display: inline-block;
/*	background-color: #fff;*/}
.profile {
	width: 50%;
}
.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

#inline 
{
	    overflow: auto;
    background: rgb(253, 253, 246);
    padding: 20px;
    width: 600px;
    max-width: 100%;
    border-radius: 6px;
    max-height: 640px;
    height: -webkit-fill-available;
    text-align: center;
}
#inline2 
{
	    overflow: auto;
    background: rgb(253, 253, 246);
    padding: 20px;
    width: 800px;
    max-width: 100%;
    border-radius: 6px;
    max-height: 640px;
    height: -webkit-fill-available;
    text-align: center;
}
.issuepdf
{width:560px; height:500px;}

.prezi_iframe {width:700px; height: 500px;}

.slider_holder {margin: 0 auto; display: block; padding: 20px 0px;}
.slider_gallery {position:relative;margin:0 auto; /*width:1180px !important;*/ height:600px; overflow:hidden; /*background-color:rgb(248, 248, 248);*/}
.slideimg img {width: 100% !important;}
.slider_thumb {width: 10% !important;}

/* Mobile */
@media (max-width: 320px) {
	
.container2 {
	background-image: url("../images/header.jpg"); background-repeat: no-repeat; background-size:contain; background-position:top; min-height: 100px;
}
	
	#inline, #inline2 
{
	    overflow: auto;
    background: rgb(253, 253, 246);
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
    max-height: 640px;
    height: -webkit-fill-available;
    text-align: center;
}
	
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 5px;
	margin-right: 5px;
	margin: 0 auto;
	margin-top: 8px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
	.gallery {
    padding-top: 20px;
}
	
}


@media (min-width: 321px)and (max-width: 767px) and (orientation: landscape)
{
	.container2 {background-position: 2px !important;}
	.thumbnail {min-height: 265px !important;}
}


/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
	

.container2 {
	background-image: url("../images/header.jpg"); background-repeat: no-repeat; background-size:contain;
	background-position: top;min-height: 100px;
}
	
.prezi_iframe {width: 100%; height: '-webkit-fill-available';}

.issuepdf {width:100%; height:auto;}
	
	.column_footer p {font-size: 14px;}
	.column_footer h4 {line-height: 0px; font-size: 16px;}
	
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 48%;
	min-height: 216px;
	padding-bottom: 5px;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 18px;
	margin-left: 6px;
	margin-top: 10px;
}
	.intro .column h3	{
	    font-size: 20px;
		}
.gallery
	{
		padding-top: 20px;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}
