@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    
    scroll-behavior: smooth;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
    text-decoration: none !important;
}
@media(min-width:1200px){
    .container{
        max-width: 1170px !important;
    }
}
p{
    font-size: 14px;
    line-height: 23px;
    margin: 0 !important;
}
h1{
    font-size: 37px !important;
}
h3{
    font-size:24px;
}
h4{
    font-size: 22px !important;
    color: rgb(34 90 147);
}
h1,h2,h3,h4,h5,h6{
   font-weight: 700 !important;
}

/* Header */
header.main-header {
    background: rgb(255 255 255);
    box-shadow: 0 0 8px 0px #ccc;
    padding: 10px 0;
}
header.main-header.header-sticky {
    position: fixed;
    width: 100%;
    animation: smoothScroll 1s forwards;
    background-color: #fff;
    z-index: 99;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.main-nav{
    justify-content: space-between !important;
    padding: 0 !important;
}
#navbarSupportedContent .dropdown-menu {
    border-radius: 0;
    padding: 0;
    width: auto;
    margin: 0;
}
.nav-center li.nav-item.active a.nav-link {
    color: #bf1e2d;
    font-weight: 500;
    font-size: 16px;
}
.nav-center .nav-item .nav-link:hover {
    color: #bf1e2d !important;
    font-weight: 500;
}
.nav-center .nav-item:hover .dropdown-menu {
    display: block;
    transition: all 0.5s;
}
.nav-center .nav-item{
    transition: all 0.5s;
}
#navbarSupportedContent .dropdown-menu .dropdown-item {
    padding: 7px 12px;
    border-bottom: 1px solid #ccc6;
    font-size: 14px;
}
.main-res-logo{
    display: none;
}
#navbarSupportedContent .dropdown-menu .dropdown-item:hover {
    background: #bf1e2d;
    color: #fff;
}
.btn-right-head .right-donate:last-child .navbar-right-btn {
    background-color: rgb(34 90 147);
    box-shadow: 5px 5px rgb(191 30 45);
}
.navbar-right-btn {
    background-color: rgb(191 30 45);
    color: white !important;
    box-shadow: 5px 5px rgb(34 90 147);
    transition: 0.5s;
    padding: 10px 17px;
    transition: all .5s !important;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.navbar-right-btn img {
    width: 18px !important;
    margin-right: 5px;
}
.btn-right-head a {
    padding: 9px 20px;
    font-size: 16px;
}

.donat-top{
    border: 2px solid #bf1e2d;
    background-color: #bf1e2d;
    color: #fff;
}
.pldege-top{
    border: 1px solid rgb(34 90 147);
    background-color: #fff;
    color: rgb(34 90 147);
}
a.dona-line {
    border: none;
    width: 2px;
    background: #ccc !important;
    display: table;
    padding: 0 !important;
    margin: 0 20px;
}
.desck-giv{
    display: block;
}
.res-giv{
    display: none !important;
}
.mobile-dropdown .dropdown button {
    background: #bf1e2d !important;
    border-radius: 0;
    border-color: #bf1e2d !important;
    padding: 0 0;
}
.mobile-dropdown {
    width: 140px;
    position: relative;
    display: table;
    margin-right: 14px;
}

.mobile-dropdown .dropdown-menu {
    border-radius: 0;
    margin-top: 0px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 0 !important;
    min-width: 100% !important;
}

.mobile-dropdown .dropdown-item {
    width: 100%;
    padding: 7px 11px;
    display: block;
    margin: 0 !important;
    border-bottom: 1px solid #cccc;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.mobile-dropdown .dropdown-item img {
    width: 16px;
}
.mobile-dropdown .dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown:hover .dropdown-toggle::after {
    transform: rotate(
180deg);
transition: all 0.5s;
}
.mobile-dropdown .dropdown {
    width: 100%;
    position: relative;
    transition: all 0.5s;
}

.mobile-dropdown button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px 12px !important;
    align-items: center;
    font-size: 16px;
    border: none;
    background-color: #fff;
    outline: none !important;
    color: #fff;
}
/* .btn-right-head a:first-child {
    margin-right: 49px;
} */
.right-donate {
    display: flex;
}
.btn-right-head .right-donate:first-child {
    margin-right: 38px;
}
.btn-right-head {
    display: flex;
}
.navbar-right-btn:hover {
    box-shadow: none;
    margin-left: 3px;
    /* margin-top: 9px; */
    transition: 0.1s;
}
.nav-center .nav-item .nav-link {
    padding: 15px 25px !important;
    transition: all 0.5s;
}
.sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: auto;
    display: none;
    border: 1px solid rgba(0,0,0,.15);
    z-index: 99;
}
.dropdown-menu li:hover .sub-menu {
    display: block;
}
.dropdown-menu li .sub-menu .dropdown-item{
    background-color: #fff;
}
/* Responsive Menu Bar Animation */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
}
  #nav-icon3{
    width: 39px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 77%;
    background: #bf1e2d;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 9px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 19px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
/* Responsive Menu Bar Animation */

/* Header */



/* Main Banner */
.main-banner video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}
.main-banner {
    position: relative;
    z-index: -1;
}
.main-banner.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main-banner .owl-nav button {
    background-color: #bf1e2d !important;
    opacity: 1 !important;
    width: 31px !important;
    height: 31px !important;
    border-radius: 0 !important;
}

.main-banner .owl-nav button i {
    color: #fff;
}
/* Main Banner */


/* Para Area */
.cont-strt p {
    text-align: center;
    padding-bottom: 17px;
}
section.para-cont {
    padding: 50px 0 0;
}
.hu-text {
    color: #225a93;
    font-weight: 500;
    transition: all 0.5s;
}
.hu-text:hover{
    color: rgb(191 30 45);
}
/* Para Area */


/* Hight Lights */

.hu-highlights {
    padding: 50px 0;
}
.section-heading {
    text-align: center;
}
.section-heading h1 {
    color: #2b2b2b;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.section-heading h1 span {
    color: rgb(34 90 147);
}
.light-box .lights-img {
    width: 100%;
}
.light-box {
    box-shadow: 0 11px 10px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    transition: all 0.9s;
}
.light-box p {
    padding: 13px 14px;
    font-weight: 600;
    color: #000;
}
.coomon-responsove-impact-slider .light-box:hover {
    transform: scale(1.05);
}


/* Hight Lights */


/* Counter Animation */
.count-info h3 {
    display: flex;
    font-size: 50px;
    justify-content: center;
    border-radius: 50%;
    width: 92%;
    height: 250px;
    text-align: center;
    align-items: center;
    position: relative;
    background: none;
    color: rgb(34 90 147);
    box-sizing: border-box;
    border: 0;
}
.count-info h3 span {
    font-size: 70px;
    font-weight: 400;
    position: relative;
}
.perc-sign {
    font-size: 50px !important;
    background: rgb(255 255 255);
    position: absolute !important;
    right: 3px;
    z-index: 9;
}
.anima-loa-active .loader {
    width: 247px;
    height: 247px;
    /* transform: rotate(
-90deg); */
    stroke-linecap: round;
    stroke-width: 2;
    fill: none;
}
img.header-logo {
    width: 79%;
}
.float-responsive{
    display: none;
}
.load-anim {
    position: absolute;
    top: 0;
}
.count-info h4 {
    margin: 10px 0;
    display: block;
    color: rgb(34 90 147);
    text-align: center;
}
.count-info p {
    color: #000;
    text-align: center;
}
  .anima-loa-active .loader .external-circle {
    stroke: rgb(191 30 45);
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke-dasharray: 312;
    animation: external 2s linear;
    opacity: 0.9;
  }
  @keyframes external {
    0% {
      stroke-dashoffset: 312;
    }
    100% {
      stroke-dashoffset: 612;
    }
  }
  
/* Counter Animation */


/* New */
.community-slider .light-box {
    height: inherit;
    margin: 0;
    box-shadow: 0 0px 14px 1px rgb(0 0 0 / 10%);
    width: 100%;
}

.community-slider .light-box:hover img {
    transform: scale(1.2);
}
.community-slider .owl-item {
    height: 100% !important;
    display: flex;
}


.community-slider .owl-stage {
    display: flex;
    align-items: stretch;
    padding: 10px 5px;
}
.community-slider .owl-stage-outer{
    display: flex !important;
}
.community-slider .light-box p{
    font-weight: 400;
    line-height: 20px;
}
.community-slider.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #bf1e2d;
}
.community-slider.owl-theme .owl-dots .owl-dot span {
    width: 32px;
    height: 3px;
    /* background: #225a93; */
}
/* New */


/* Ways Contribute */
a.contri-btn {
    border: 1px solid rgb(191 30 45);
    padding: 9px 14px;
    font-size: 15px;
    margin-top: 14px;
    color: rgb(34 90 147);
    display: flex;
    transition: all 0.5s;
}

a.contri-btn img {
    width: 19px;
    margin-left: 11px;
}
a.contri-btn:hover {
    background: rgb(191 30 45);
    color: rgb(255 255 255);
}
a.contri-btn:hover img{
    filter: brightness(0) invert(1);
}
section.ways-contribute-area {
    padding: 0 0 50px;
}
.contribute-box img{
    width: 100%;
}
.contribute-box h4 {
    margin: 8px 0;
}
.contribute-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hvr-bx {
    overflow: hidden;
    width: 100%;
}

.contribute-box:hover img {
    transform: scale(1.2);
}

.hvr-bx img {
    transform: scale(1);
    transition: all 0.9s;
    width: 100%;
}
/* Ways Contribute */


/* footer */
footer {
    background: rgb(34 90 147);
    padding: 56px 0 10px;
    position: relative;
    overflow: hidden;
}
.main-footer::after {
    content: '';
    position: absolute;
    bottom: -15px;
    background-image: url(../img/footerbefore.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    right: 0;
    background-position: bottom right;
    pointer-events: none;
    background-size: 22%;
}
ul.socail-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 19px;
}
.social-links li {
    margin-right: 29px;
    display: flex;
    align-items: center;
}

.hul-foot-cont p {
    color: rgb(255 255 255);
    padding: 24px 0;
    font-size: 12px;
    line-height: 20px;
    padding-right: 10%;
}

.hul-foot-cont h5 {
    font-size: 20px;
    color: rgb(255 255 255);
    padding-bottom: 8px;
}
.footer-menu ul.menu-foot:first-child {
    margin-right: 20px
;
}

ul.contac-det {
    display: flex;
}

ul.contac-det li:nth-child(2) {
    padding: 0 20px;
    display: table;
    color: rgb(255 255 255);
}

ul.contac-det li a {
    color: rgb(255 255 255);
    font-size: 16px;
}

.socail-list li {
    margin: 0 10px;
}

.socail-list li:first-child {
    margin-left: 0;
}
.footer-menu {
    display: flex;
}

.footer-menu h5 {
    color: rgb(255 255 255);
    font-size: 16px;
    position: relative;
    margin-bottom: 15px;
}

.news-letter-area > h5 {
    font-size: 20px;
    color: rgb(255 255 255);
    padding-bottom: 10px;
}

.menu-foot li a {
    font-size: 16px;
    color: rgb(255 255 255);
    padding: 1px 0;
    display: table;
}

.footer-menu h5:after {
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: -11px;
    background: rgb(10 68 126);
    content: '';
    left: 0;
}
.form-news input.form-control {
    width: 75%;
    height: 52px;
    border: transparent;
    border-radius: 0;
}

.form-news {
    display: flex;
    width: 84%;
}

.form-news button {
    width: 25%;
    padding: 12px 0;
    border: 1px solid transparent;
    background: rgb(191 30 45);
    color: rgb(255 255 255);
    transition: all 0.5s;
    font-size: 18px;
}
/* .form-news button:hover {
    background: rgb(255 255 255);
    color: rgb(191 30 45);
    border-left: 1px solid rgb(191 30 45);
} */

.news-form {
    padding-bottom: 43px;
}
p.copyright {
    text-align: center;
    color: rgb(255 255 255);
    font-size: 13px;
}
.owl-carousel{
    margin: 0 !important;
}
ul.contac-det li a img {
    margin-right: 5px;
}



/* About Page *//* About Page *//* About Page */
.left-huusa img {
    width: 100%;
}
.left-huusa::after{
    background-image: url(../img/about/bg-con.svg);
    position: absolute;
    top: -40px;
    left: -97px;
    width: 754px;
    height: 753px;
    content: '';
    background-repeat: no-repeat;
    z-index: -1;
}

section.usa-husfus {
    padding: 50px 0 100px;
    position: relative;
}
.right-huusa p {
    padding-bottom: 25px;
}
.red{
    color: rgb(191 30 45) !important;
}
.right-huusa {
    padding-top: 62px;
}
/* Board Area */
.board-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 18.5%;
}
.board-box h5 {
    color: #225a93;
    font-size: 18px;
    padding-top: 13px;
    font-weight: 400 !important;
}
.board-box img {
    border-radius: 100%;
    box-shadow: 0 0 14px 1px #225a9394;
}
section.board-directories {
    padding: 0 0 50px;
}
/* Board Area */
/* About Page *//* About Page *//* About Page */


/* Contact Page *//* Contact Page *//* Contact Page *//* Contact Page */

.contact-main .form-group .form-control {
    width: 100%;
    border-radius: 0;
    height: 63px;
    padding-left: 22px;
}

.contact-main .form-group .form-control::placeholder {
    font-size: 14px;
}

select.hear-about.form-control {
    font-size: 13px;
}

button.btn-submit {
    background: #bf1e2d;
    color: #fff;
    border: 1px solid #bf1e2d;
    font-size: 16px;
    padding: 8px 20px;
    transition: all 0.5s;
}
section.contact-area {
    padding: 0 0 50px;
}

button.btn-submit:hover {
    background: #225a93;
    border-color: #225a93;
}
.contact-main .form-group label {
    font-size: 15px;
}
form.contact-main {
    padding-top: 32px;
}
.contac-us-form h1 {
    color: #225a93;
}
.contact-main .form-group textarea.form-control {
    height: 133px;
    padding-top: 17px;
}
.regsi-box h5{
    position: relative;
    margin-bottom: 23px;
}
.regsi-box h5:after {
    position: absolute;
    width: 57px;
    height: 3px;
    bottom: -10px;
    background: rgb(34 90 147);
    content: '';
    left: 0;
}
.regsi-box {
    margin-bottom: 25px;
}

.regsi-box h5,.regsi-box p,.regsi-box a {
    color: #225a93;
}
.register-sticky-cont {
    background-color: #eff2f7;
    padding: 82px 27px 17px;
}
.contac-us-form {
    padding-top: 78px;
}
.box-rect img.img-fluid {
    width: 100%;
}

.regsi-box a {
    display: block;
    line-height: 32px;
}
.regsi-box a img {
    margin-right: 10px;
}
.set-over{
    overflow: hidden;
}
/* Contact Page *//* Contact Page *//* Contact Page *//* Contact Page */


/* Find Our More Page *//* Find Our More Page *//* Find Our More Page */
.contri-list-data li span {
    width: 50%;
}

.contri-list-data li {
    display: flex;
    padding-bottom: 7px;
    font-size: 14px;
}

.contri-list-data li span:first-child {
    width: 44%;
}
.contri-box h5{
    position: relative;
}
.contri-box h5:after {
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    background: rgb(191 30 45);
    content: '';
    left: 0;
}
.contri-box h5{
    font-size: 18px;
    color: #225a93;
    margin-bottom: 25px;
}
.contri-box a.navbar-right-btn {
    margin-top: 15px;
    display: table;
}
.other-ways-area .row .col-lg-4:nth-child(1) .contri-box:before{
    content: '01';
}
.other-ways-area .row .col-lg-4:nth-child(2) .contri-box:before{
    content: '02';
}
.other-ways-area .row .col-lg-4:nth-child(3) .contri-box:before{
    content: '03';
}
.contri-box:before {
    position: absolute;
    top: -58px;
    left: -24px;
    font-size: 97px;
    color: #bf1e2d;
    opacity: 0.1;
    font-weight: 500;
}
section.other-ways-area {
    background-color: #f3f6fb;
    padding: 50px 0 20px;
    margin-top: 15px;
}
/* Find Our More Page *//* Find Our More Page *//* Find Our More Page */


/* Profile Page *//* Profile Page *//* Profile Page */
.profile-stats .left-huusa::after {
    background-size: 80%;
    content: '';
    top: -55px;
    left: -50px;
}

.p-md {
    font-size: 18px;
    padding-bottom: 5px !important;
}
section.usa-husfus.profile-stats {
    padding: 81px 0 160px;
}
.ways-contribute-area .section-heading h1 {
    margin: 0;
}

.ways-contribute-area .section-heading {
    margin-bottom: 35px;
}
/* Profile Page *//* Profile Page *//* Profile Page */